
# =========================
# Docker
# =========================
# Ignore Docker build context files
*.pid
*.seed
*.pid.lock
*.tar
docker-compose.override.yml

# =========================
# PostgreSQL
# =========================
# Database data directory (if mounted locally)
postgres_data/
*.sql
*.dump

# =========================
# MinIO
# =========================
# MinIO data directory (if mounted locally)
minio_data/

# =========================
# System / Editor
# =========================
.DS_Store
Thumbs.db
.idea/
*.iml
