version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: mypassword
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: socialMediaDatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  keycloak-db:
    image: postgres:15
    environment:
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: keycloakdb
    ports:
      - "5433:5432"
    volumes:
      - keycloak_postgres_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.5
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloakdb
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: mypassword
    ports:
      - "8080:8080"
    depends_on:
      - keycloak-db
     

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web console
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  keycloak_postgres_data:
  minio_data:
